<div class="col-xs-10 col-xs-offset-1 panel">

  <h1>My Profile</h1>
  <br>
  <div class="col-sm-4 col-sm-offset-2">
    <%= image_tag 'user.png', class: 'user-avatar' %>
  </div>

  <div class="col-sm-6">
    <p><%= @user.email %></p>
    <p>Member since: <%= @user.created_at.strftime("%B %d, %Y") %></p>
    <p>Total comments: <%= @user.comments.count %></p>
    <% rating_sum = 0 %>
    <% @user.comments.each do |comment| %>
      <% rating_sum = rating_sum + comment.humanized_rating.to_f %>
    <% end %>
    <p>Average Rating: <%= rating_sum/@user.comments.count %></p>
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1 panel">
  <h3>My Comments</h3>
  <br>
  <% @user.comments.each do |comment| %>
    <div class="col-sm-6">
      <h4><%= link_to comment.place.name, place_path(comment.place) %></h4>
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %></b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>
