<% @places.each do |place| %>
  <!-- <div class="material-card col-xs-10 col-xs-offset-1"> -->
  <div class="panel panel-default col-xs-10 col-xs-offset-1">
    <h1><%= place.name %></h1>
    <i><%= place.address %></i>
    <p><%= place.description %></p>

    <a href="#" class="push-left">Learn More</a>

    <% if place.user.present? %>
      <small class="pull-right">added by <%= place.user.email %></small>
    <% end %>
  </div>
<% end %>

<div class="col-xs-12">
  <%= paginate @places %>
</div>
