<div>
  <% @places.each do |place| %>
    <div class="col-md-6">
      <%= link_to place_path(place), class: 'panel panel-default panel-active col-xs-12' do %>
          <h2><%= place.name %></h2>
          <i><%= place.address %></i>
          <p><%= place.description %></p>
          <% if place.average_rating.present? %>
            <p class="pull-left"><b>Average user rating: <%= place.average_rating.to_f.round(1) %>/5</b></p>
          <% end %>
          <p class="pull-right btn-text">details</p>
      <% end %>
    </div>
  <% end %>
</div>

<div class="col-xs-12">
  <%= paginate @places %>
</div>
