<div class="panel panel-default col-xs-10 col-xs-offset-1">
  <h1>Enter place details</h1>
  <%= simple_form_for @place do |f| %>
    <%= f.input :name, placeholder: 'name' %>
    <%= f.input :address, placeholder: 'address' %>
    <%= f.input :description, placeholder: 'description' %>
    <%= f.submit '+ Add', class: 'btn btn-primary pull-right' %>
  <% end %>
</div>
