<div class="col-xs-10 col-xs-offset-1 panel">
  <h2><%= @place.name %></h2>
  <i><%= @place.address %></i>
  <br>
  <p><%= @place.description %></p>

  <% if @place.latitude.present? && @place.longitude.present? %>
    <script>

      function initMap() {
        var myLatLng = {lat: <%= @place.latitude %>, lng: <%= @place.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 12,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API_KEY'] %>&callback=initMap">
    </script>

    <div id="map"></div>
    <br>
  <% end %>

  <div>
    <%= link_to '< back', root_path %>
    <% if current_user && current_user == @place.user %>
      <%= link_to 'edit', edit_place_path(@place), class: 'pull-right' %>
    <% end %>
  </div>
</div>

<div class="col-xs-10 col-xs-offset-1 panel">
  <h3 class="pull-left">Photos</h3>

  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#imageModal">
  + add
  </button>
  <br>

  <!-- image modal -->
  <div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="imageModalLabel">Add a comment</h4>
        </div>
        <%= simple_form_for @photo, url: place_photos_path(@place) do |f| %>
          <div class="modal-body">
          <%= f.input :picture %>
          <%= f.input :caption %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.submit "+ Add Photo", class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <% @place.photos.each do |photo| %>

      <% if photo.picture.present? %>
        <div class="col-xs-10 col-xs-offset-1">
        <%= image_tag photo.picture, class: 'place-image' %>
        <% if photo.caption.present? %>
          <%= photo.caption %>
        <% end %>
        </div>
      <% end %>
  <% end %>
</div>

<div class="col-xs-10 col-xs-offset-1 panel">
  <h3 class="pull-left">Comments</h3>

  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#commentModal">
  + add
  </button>
  <br>

  <!-- comment modal -->
  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="commentModalLabel">Add a comment</h4>
        </div>
        <%= simple_form_for @comment, url: place_comments_path(@place) do |f| %>
          <div class="modal-body">
          <%= f.input :rating, as: :select, label: false, prompt: "Rating", collection: Comment::RATINGS %>
          <%= f.input :message %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <%= f.submit "+ Add Comment", class: 'btn btn-primary pull-right' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>
  <% @place.comments.reverse_order.each do |comment| %>
    <div>
      <blockquote>
        <% if comment.humanized_rating.present? %>
          <b><%= comment.humanized_rating %>/5</b> -
        <% end %>
        <%= comment.message %>
        <small><%= comment.user.email %></small>
      </blockquote>
    </div>
  <% end %>
</div>
